@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  .one-item {
    --slide-size: 100%;
  }

  .two-items {
    --slide-size: 50%;
  }

  .three-items {
    --slide-size: 33.33%;
  }

  .four-items {
    --slide-size: 25%;
  }

  .five-items {
    --slide-size: 20%;
  }

  .h-mb {
    --slide-height: 220px;
  }

  .h-md {
    --slide-height: 400px;
  }

  .h-lg {
    --slide-height: 600px;
  }

  .h-xl {
    --slide-height: 750px;
  }

}

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  color: var(--foreground);
  background: var(--background);
}